# Prevent running scripts from executing automatically during installation
ignore-scripts=true

# Enforce a specific version of the package-lock.json file format
lockfile-version=3

# Save exact versions to package.json, preventing caret (^) and tilde (~) versions
save-exact=true